<!--<div class='container-fluid'>
    <div class='row'>
        <div class='col-sm-3'>
            <nav-menu></nav-menu>
        </div>
        <div class='col-sm-9 body-content'>
            <router-outlet></router-outlet>
        </div>
    </div>
</div>-->
<!-- Navigation -->
<nav-menu></nav-menu>
<header>
    <div class="row">
        <div class="col-lg-12 text-center">
            <img class="img-fluid" src="/dist/assets/news-banner-1900x350.jpg"/>
        </div>
    </div>
</header>
<!--<div class="container-fluid">
    <div class="row">
        <div class="col-lg-2">
            <div class="list-group mt-4">
                <a href="#" class="list-group-item active">Menu Item 1</a>
                <a href="#" class="list-group-item list-group-item-action">Menu Item 1</a>
                <a href="#" class="list-group-item list-group-item-action">Menu Item 1</a>
            </div>
        </div>
        <div class="col-lg-10">
            <div id="carouselExampleIndicators" class="carousel slide my-4" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                </ol>
            </div>
            <router-outlet></router-outlet>
            </div>
        </div>
    </div>-->

<!--<div class="container-fluid">-->
    <router-outlet></router-outlet>
<!--</div>-->
<!-- /.container -->

<!-- Footer -->
<footer class="py-5 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Virtusa 2017</p>
    </div>
    <!-- /.container -->
</footer>
