<nav class="navbar navbar-light bg-dark ">
    <div class="container">
        <div class="btn-group" data-toggle="buttons">
        </div>
        <div class="btn-group" data-toggle="buttons">
            <a class="btn btn-primary" [routerLink]="['/home']">Back <<< </a>
        </div>
    </div>
</nav>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <div class="row my-4 justify-content-center">
                <div class="col-sm-4 col-lg-3">
                    <a [routerLink]="['/add-news']">
                        <div class="card text-white mb-3">
                            <div class="card-header text-center bg-white text-info "><h2 class="display-4 text-capitalize">Add News</h2></div>
                            <div class="card-body">
                                <p class="card-text text-center rounded-circle bg-info">
                                    <img src="/dist/assets/nw-home-img-2.png" alt="..." class="img-thumbnail rounded-circle img-fluid">
                                </p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-sm-4 col-lg-3">
                    <a [routerLink]="['/session']">
                        <div class="card text-white mb-3">
                            <div class="card-header text-center bg-white text-warning"><h2 class="display-4 text-capitalize">Session</h2></div>
                            <div class="card-body">
                                <p class="card-text text-center rounded-circle bg-warning">
                                    <img src="/dist/assets/img_com1.png" alt="..." class="img-thumbnail rounded-circle img-fluid">
                                </p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-sm-4 col-lg-3">
                    <a [routerLink]="['/attendance']">
                        <div class="card text-white mb-3">
                            <div class="card-header text-center bg-white text-warning"><h2 class="display-4 text-capitalize">Attendance</h2></div>
                            <div class="card-body">
                                <p class="card-text text-center rounded-circle bg-warning">
                                    <img src="/dist/assets/img_com1.png" alt="..." class="img-thumbnail rounded-circle img-fluid">
                                </p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-sm-4 col-lg-3">
                    <a [routerLink]="['/competition']">
                        <div class="card text-white mb-3">
                            <div class="card-header text-center bg-white text-warning">
                                <h2 class="display-4 text-capitalize">Competitions</h2>
                            </div>
                            <div class="card-body">
                                <p class="card-text text-center rounded-circle bg-warning">
                                    <img src="/dist/assets/img_com1.png" alt="..." class="img-thumbnail rounded-circle img-fluid">
                                </p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-sm-4 col-lg-3">
                    <a [routerLink]="['/add-orders']">
                        <div class="card text-white mb-3">
                            <div class="card-header text-center bg-white text-warning">
                                <h2 class="display-4 text-capitalize" style="color:#5459A7;">Orders</h2>
                            </div>
                            <div class="card-body">
                                <p class="card-text text-center rounded-circle bg-warning">
                                    <img src="/dist/assets/icon-safe.png" alt="..." class="img-thumbnail rounded-circle img-fluid">
                                </p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-sm-4 col-lg-3">
                    <a [routerLink]="['/manage-news']">
                        <div class="card text-white mb-3">
                            <div class="card-header text-center bg-white text-warning">
                                <h2 class="display-4 text-capitalize" style="color:#5459A7;">Manage News</h2>
                            </div>
                            <div class="card-body">
                                <p class="card-text text-center rounded-circle bg-warning">
                                    <img src="/dist/assets/icon-safe.png" alt="..." class="img-thumbnail rounded-circle img-fluid">
                                </p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
